body{
    background-image: url("/img/fondo.png");
}

.fondo{
    height: fit-content;
}

.fondo_cabecera{
    background-color: black;
}

.imagen_cabecera{
    width: 100%;
}

.navbar__desing{
    background-color: #855890;
    font-family: 'Fugaz One', cursive;
    font-size: 1.4em;
}

.navbar__desing--title{
    font-size: 1.5em;
    color: white;
    margin-right: 30px ;
    text-decoration: none;
}

.navbar__desing--title:hover{
    color: white;
}

.contenedor__productos{
    margin-top: 2px;
    margin-bottom: 2px;
}

.fstdiv__title{
    margin-top: 3em;
    margin-bottom: 3em;
    display: block;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 300%;
}

.div__historia{
    margin-top: 3em;
    margin-bottom: 3em;
}

.div__fondo--personajes{
    background-color: #855890;
    height: fit-content;
}

.boton__tarjeta{
    background: #A27CAC;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boton__tarjeta:hover{
    background: #855F8F;
}

.fondo__tarjeta{
    background-color: lightgray;
}

.div__datoscuriosos{
    margin-top: 6em;
    margin-bottom: 6em;
}

.fondo__pagina{
}

.tarjeta__producto{
    border-radius: 1em;
    background-color: #6f3c7c;
    margin-top: 2em;
}

.boton__personajes{
    background:#6f3c7c ;
}

.boton__personajes:hover{
     background: #855890; 
}

/*carrito*/

.cant__productos{
    color: #F9C2FE;
}

/*footer*/

footer{
    margin-top: 3em;
    height: 5em;
    background-color: #855890;
}

